

body{
    margin: 0;
    padding: 0;
    background:#00a8ff;
    width: 4rem;
    min-width: 500px;
    background-image: url(plain-blue-background.jpg);
}


.title-slogan{
    width: 10vh;
    min-width: 100px;
}


.title{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    color: white;
    padding: 10px;
    font-size: 4vmax;
    font-family: 'Quicksand', sans-serif;
    white-space: nowrap;
}

.slogan{
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    color: white;
    padding: 10px;
    font-size: 1.75vmax;
    font-family: 'Quicksand', sans-serif;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width:240px;
    padding:0 6px;
}

.search-box:hover > .search-btn{
    background: #ceefff;
}

.search-btn{
    color: #00a8ff;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

